@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,500;0,600;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    /* transition: all .3s linear; */
    list-style: none;
}

html {
    overflow-x: hidden;
    font-size: 70%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.container-fluid{
    padding: 0%;
    width: 100%;
}
.welcome{
    background-image: url("/img/first.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.welcome h1{
    font-size: 5rem;

}
.welcome p{
    font-size: 1.4rem;
}
.mouse-div{
    align-self: center;
    padding: 1rem;
}
.contents{
    margin-top: 16%;
}
.about-us{
    padding: 2rem;
    line-height: 3rem;
    font-size: 1.5rem;
}
.about-us h1{
    font-weight: 900;
}
.services{
    background-color: aliceblue;
    padding: 2rem;
}
.services h1{
    font-weight: 900;
}